.wrapper {
    position: relative;
    min-height: 100%;
    border: 3px solid dodgerblue;
    border-top: none;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.title{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.img{
    display: block;
    margin: 0 auto;
}